<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/liyanfei/Netease/在校大作业_测开/NeteaseWork"><classes><class name="com.liyanfei.test.AndroidTest"><methods><include name="test1"/></methods></class></classes></test></suite>